<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">



<head>
  <title>Home</title>
</head>

<body>
<div layout:fragment="content2" style="margin-left: 15%">
  <br>
  <!--<i class="fa-sharp fa-solid fa-house-chimney" style="color: #1828ff;"> Home ></i>-->
  <i class="fa-solid fa-house-chimney fa-lg" style="color: #1828ff;"> HOME</i>
</div>

<div layout:fragment="content" >



  <div>
    <p> </p>
  </div>

</div>



</body>

</html>